@tailwind base;
@tailwind components;
@tailwind utilities;


/* Formatering av rich text (structured text fields) */

.structured-text li {
  position: relative;
} 

.structured-text li p {
  margin-left: 1rem;
}

.structured-text li p::before {
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: black;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -1rem;
}

.structured-text blockquote {
  border-left: 5px solid #222;
  padding-left: 1rem;
}

.structured-text blockquote footer {
  font-style: italic;
  color: #444;
}

.structured-text blockquote footer::before {
  content: "— ";
}

.structured-text h1 {
  font-size: 30px;
}

.structured-text h2 {
  font-size: 25px;
}

.structured-text h3 {
  font-size: 22px;
}

.structured-text h4 {
  font-size: 20px;
}

.structured-text p {
  margin: 1rem 0;
}